

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid" >

  <div class="row">
    <div class="col-lg-3 col-6">
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{total}}</h3>
          <p>Todas las tareas</p>
        </div>
        <div class="icon">
          <i class="fas fa-clipboard-list"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{realizado}}</h3>

          <p>Tareas Realizadas</p>
        </div>
        <div class="icon">
          <i class="fas fa-tools"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{pendiente}}</h3>

          <p>Tareas Pendientes</p>
        </div>
        <div class="icon">
          <i class="fas fa-bell"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>{{cancelado}}</h3>

          <p>Tareas Canceladas</p>
        </div>
        <div class="icon">
          <i class="fas fa-ban"></i>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>

    </div>
  </section>



  <section class="content">

   <app-record></app-record>

  </section>
